body {
  background: hsl(22, 95%, 70%);
}

.todo:hover {
  transform: translateY(-4px);
  transition-duration: 350ms;
}

.btn:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  background: hsl(22, 93%, 59%);
}
